@model IEnumerable<MVCjaEntity.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="@Url.Action("Picture", new {id = item.CategoryID})" 
                 alt="pilti põle"
                 height="100"
                 /><!--et kui pilti ei ole (not found vms viga)-->

        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id = item.CategoryID, nimi = "Henn", vanus = 67 }) |
            @Html.ActionLink("Näita", "Details", new { id = item.CategoryID }) |
            @Html.ActionLink("Kustuta", "Delete", new { id = item.CategoryID }) |
            @Html.ActionLink("Tooted", "Tooted", new { id = item.CategoryID})
            @*<a href="@Url.Action("Index", new {id=item.CategoryID})">Tooted</a>*@
        </td>
    </tr>
}

</table>

<p>JUhend:</p>
<p>Kui sa tahad võid kasutada aadressi @Url.Action("Index", new { id = 7, a = 77 })</p>
