
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h3>@ViewBag.Teade</h3>
<h3>@ViewBag.Tere</h3>
@using (Html.BeginForm("Test","Home",FormMethod.Post, new { }))
{
    <input type="number" name="a" id="a" value="@ViewBag.a" />
    <br />
    <input type="number" name="b" value="@ViewBag.b" />
    <br />
    <input type="hidden" name="c" id="c" value="@ViewBag.c" />
    <br />
    <input type="text" name="nimi" id="nimi" value="" />
    <br />
    <input type="submit" class="alert-danger" />
    <br />
}
@*<form action="@Url.Action("Test", new { nimi="tundmatu" })" method="post">
</form>*@

